body {
    background-color: rgb(255, 159, 159);
    font-family: sans-serif;
    text-align: center;
}

h1 {
    color: black;
    font-size: 60px;
}

/* Estilo para cada bloco de playlist */
.playlist {
    background-color: rgba(255, 255, 255, 0.4);
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    max-width: 90%;
    text-align: center;
}

/* Estilo do título da categoria centralizado */
.titulo-categoria {
    font-size: 30px;
    color: #333;
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-align: center;
}
}